# Ignore everything by default.
*

# Explicitly define directories and files to pass into docker.
!/f1_api
!/.python-version
!/db
!/docker
!/LICENSE
!/makefile
!/pyproject.toml
!/README.md
!/setup.*
!/uv.lock
!/f1-db-dump.sql
