racinghub.net, www.racinghub.net {
    handle /api/* {
        reverse_proxy f1-api:80
        encode gzip
    }

    # Future web app under /
    # root * /srv/webapp
    # file_server

    log {
        output stdout
        format json
    }

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
